.app {
  font-family: serif;
}
.mortgage-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 2px lightblue solid;
  margin: 10px;
}

.form-entry {
  display: flex;
  flex-direction: column;
  padding: 10px
}

.components {
  display: flex;
  flex-direction: row;
}

.mortgage-display {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

h1, .button {
  color: lightblue;
  background-color: darkblue;
}

h1 {
  width: 400px;
  padding-left: 10px;
}

.button:hover {
  color: darkblue;
  background-color: lightblue;

}
